<div class="home_container">
  <app-card
  Id="1"
  gamePhoto = 'assets/bt-1.jpg'
  gamePrice="R$150,00"
  gameLabel="DIGITAL"
  gameConsole="PS4"
  ></app-card>
  <app-card
  Id="2"
  gamePhoto = 'assets/bt-4.jpg'
  gamePrice="R$75,00"
  gameLabel="EXCLUSIVE"
  gameConsole="PS4"
  ></app-card>
  <app-card
  Id="3"
  gamePhoto = 'assets/bt-5.jpg'
  gamePrice="R$200,00"
  gameLabel="GOTY"
  gameConsole="PS5"
  ></app-card>
  <app-card
  Id="4"
  gamePhoto = 'assets/ac-cover.jpg'
  gamePrice="R$50,00"
  gameLabel="MULTIPLAYER"
  gameConsole="PS3"
  ></app-card>
  <app-card
  Id="5"
  gamePhoto = 'assets/bt-bad-company-2.jpg'
  gamePrice="R$45,00"
  gameLabel="OFFER"
  gameConsole="PS3"
  ></app-card>
  <app-card
  Id="6"
  gamePhoto = 'assets/bt-hardline.jpg'
  gamePrice="R$80,00"
  gameLabel="GOTY 2019"
  gameConsole="PS4"
  ></app-card>
</div>

